# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
plex-sync
plex.xml

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.csv

.idea/
*.iml
*.db

config.yml
*.txt
*.sh

out/